@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom, #c061ff, white);
    height: auto;
    margin: 10px;
}


h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 60px;
}

nav {
    background-color: #ffe941;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid black;
}

a.nave {
    background-color: white;
    padding: 5px;
    padding-right: 50px;
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

#principal {
    text-decoration: none;
    color: white;
}

a.nave:hover {
    background-color: rgba(0, 0, 0, 0.085);
    transition-duration: 0.3s;
}

#direito {
    border-radius: 0px 9px 9px 0px;
}

#esquerdo {
    border-radius: 9px 0px 0px 9px;
}

.foto {
    width: max(200px, 30vw);
    height: max(300px, 40vw);
    border: 1px solid black;
    margin: 20px;
    border-radius: 9px;
    background-image: url(imagens/IMG_0270-1024x1024.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;

}

#intro {
    background-color: white;
    margin: 20px;
    border-radius: 9px;
    border: 1px solid black;
    overflow: hidden;

}

main {
    background-color: #ffe941;
    margin-top: 30px;
    border-radius: 9px;
    border: 1px solid black;
    
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    font-size: max(30px, 4vw);
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    font-size: max(10px, 2.5vw);
    margin-right: max(20px, 2vw);
    margin-left: max(20px, 2vw);
}